.vs/
/Sirgep/SirgepMain/target/
/SirgepSolution/Sirgep/target/
/SirgepSolution/SirgepDA/target/
/SirgepSolution/SirgepDBManager/target/
/SirgepSolution/SirgepDomain/target/
/SirgepSolution/SirgepDA/nbproject/
/SirgepSolution/SirgepBusiness/target/
/SirgepSolution/SirgepBusiness/nbproject/
/build/
/nbproject/
/SirgepSolution/SirgepWS/target/
/SirgepSolution/SirgepWS/nbproject/
/SirgepSolution/CalculadoraRS/target/
/SirgepSolution/Test/nbproject/private/
