<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="~/Presentacion/Inicio/LogIn.aspx" timeout="30"/>
		</authentication>
		<authorization>
			<allow users="*"/>
			<!-- Permite acceso a todos los usuarios, excepto a los especificados en los <location> -->
		</authorization>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
	</system.web>
	<location path="Presentacion/Inicio/PrincipalAdministrador.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
				<!-- Niega acceso a usuarios anónimos -->
			</authorization>
		</system.web>
	</location>
	<location path="Presentacion/Usuarios/Administrador/CalendarioReservas.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
				<!-- Niega acceso a usuarios anónimos -->
			</authorization>
		</system.web>
	</location>
	<location path="Presentacion/Ventas/Entrada/ListaEntradasAdministrador.aspx">
		<system.web>
			<authorization>
				<deny users="?" /> 
				<!-- Niega acceso a usuarios anónimos -->
			</authorization>
		</system.web>
	</location>
	<location path="Presentacion/Ventas/Entrada/ListaEntradasComprador.aspx">
		<system.web>
			<authorization>
				<deny users="?" /> 
				<!-- Niega acceso a usuarios anónimos -->
			</authorization>
		</system.web>
	</location>
	<location path="Presentacion/Ventas/Reserva/ListaReservasAdministrador.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
				<!-- Niega acceso a usuarios anónimos -->
			</authorization>
		</system.web>
	</location>
	<location path="Presentacion/Ventas/Reserva/ListaReservasComprador.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
				<!-- Niega acceso a usuarios anónimos -->
			</authorization>
		</system.web>
	</location>
	<location path="Presentacion/Usuarios/Comprador/ListaComprador.aspx">
		<system.web>
			<authorization>
				<deny users="?" /> 
				<!-- Niega acceso a usuarios anónimos -->
			</authorization>
		</system.web>
	</location>
	<location path="Presentacion/Usuarios/Comprador/PerfilComprador.aspx">
		<system.web>
			<authorization>
				<deny users="?" /> 
				<!-- Niega acceso a usuarios anónimos -->
			</authorization>
		</system.web>
	</location>
	<location path="Presentacion/Infraestructura/Espacio/ListaEspacios.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
				<!-- Niega acceso a usuarios anónimos -->
			</authorization>
		</system.web>
	</location>
	<location path="Presentacion/Infraestructura/Evento/GestionaEventos.aspx">
		<system.web>
			<authorization>
				<deny users="?" /> 
				<!-- Niega acceso a usuarios anónimos -->
			</authorization>
		</system.web>
	</location>
  <databaseSettings>
    <add key="host" value="db2.cfcpzjy6cxpa.us-east-1.rds.amazonaws.com" />
    <add key="port" value="3306" />
    <add key="database" value="TA_SIRGEP_V2" />
    <add key="user" value="admin" />
    <add key="password" value="#ana_12345_#ana" />
    <add key="minPoolSize" value="5" />
    <add key="maxPoolSize" value="50" />
    <add key="connectionTimeout" value="30" />
  </databaseSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EventoWSPortBinding" />
        <binding name="ProvinciaWSPortBinding" />
        <binding name="HorarioEspacioWSPortBinding" />
        <binding name="EspacioWSPortBinding" />
        <binding name="CompraWSPortBinding" />
        <binding name="CalificacionWSPortBinding" />
        <binding name="DistritoWSPortBinding" />
        <binding name="EspacioDiaSemWSPortBinding" />
        <binding name="ReservaWSPortBinding" />
        <binding name="EntradaWSPortBinding" />
        <binding name="CompradorWSPortBinding" />
        <binding name="DepartamentoWSPortBinding" />
        <binding name="PersonaWSPortBinding" />
        <binding name="FuncionWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SirgepWS/EventoWS" binding="basicHttpBinding"
        bindingConfiguration="EventoWSPortBinding" contract="ReferenciaDisco.EventoWS"
        name="EventoWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/ProvinciaWS"
        binding="basicHttpBinding" bindingConfiguration="ProvinciaWSPortBinding"
        contract="ReferenciaDisco.ProvinciaWS" name="ProvinciaWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/HorarioEspacioWS"
        binding="basicHttpBinding" bindingConfiguration="HorarioEspacioWSPortBinding"
        contract="ReferenciaDisco.HorarioEspacioWS" name="HorarioEspacioWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/EspacioWS"
        binding="basicHttpBinding" bindingConfiguration="EspacioWSPortBinding"
        contract="ReferenciaDisco.EspacioWS" name="EspacioWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/CompraWS" binding="basicHttpBinding"
        bindingConfiguration="CompraWSPortBinding" contract="ReferenciaDisco.CompraWS"
        name="CompraWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/CalificacionWS"
        binding="basicHttpBinding" bindingConfiguration="CalificacionWSPortBinding"
        contract="ReferenciaDisco.CalificacionWS" name="CalificacionWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/DistritoWS"
        binding="basicHttpBinding" bindingConfiguration="DistritoWSPortBinding"
        contract="ReferenciaDisco.DistritoWS" name="DistritoWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/EspacioDiaSemWS"
        binding="basicHttpBinding" bindingConfiguration="EspacioDiaSemWSPortBinding"
        contract="ReferenciaDisco.EspacioDiaSemWS" name="EspacioDiaSemWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/ReservaWS"
        binding="basicHttpBinding" bindingConfiguration="ReservaWSPortBinding"
        contract="ReferenciaDisco.ReservaWS" name="ReservaWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/EntradaWS"
        binding="basicHttpBinding" bindingConfiguration="EntradaWSPortBinding"
        contract="ReferenciaDisco.EntradaWS" name="EntradaWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/CompradorWS"
        binding="basicHttpBinding" bindingConfiguration="CompradorWSPortBinding"
        contract="ReferenciaDisco.CompradorWS" name="CompradorWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/DepartamentoWS"
        binding="basicHttpBinding" bindingConfiguration="DepartamentoWSPortBinding"
        contract="ReferenciaDisco.DepartamentoWS" name="DepartamentoWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/PersonaWS"
        binding="basicHttpBinding" bindingConfiguration="PersonaWSPortBinding"
        contract="ReferenciaDisco.PersonaWS" name="PersonaWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/FuncionWS"
        binding="basicHttpBinding" bindingConfiguration="FuncionWSPortBinding"
        contract="ReferenciaDisco.FuncionWS" name="FuncionWSPort" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
